@import "@styles/variables";

.btn {
  border-radius: 100px;
  padding: 0 30px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  border-width: 0;
  cursor: pointer;

  &--off-white {
    background: $color-off-white;
    color: $color-royal-blue;

    &:hover {
      background-color: darken($color-off-white, 5);
    }
  }

  &--dark-purple {
    background: $color-dark-purple;
    color: $color-white;

    &:hover {
      background-color: darken($color-dark-purple, 5);
    }
  }

  &--royal-blue {
    background-color: $color-royal-blue;
    color: $color-white;

    &:hover {
      background-color: darken($color-royal-blue, 5);
    }
  }

  &--transparent {
    background-color: transparent;
    color: $color-black;
    padding-left: 0;
  }

  &--icon,
  &--left-icon {
    justify-content: flex-start;
  }

  &--left-icon {
    &:hover {
      svg {
        margin-right: 25px;
      }
    }
    svg {
      margin-right: 20px;
      transition: margin-right 0.3s ease;
    }
  }

  &--icon {
    svg {
      margin-left: 20px;
      transition: margin-left 0.3s ease;
    }

    &:hover {
      svg {
        margin-left: 25px;
      }
    }
  }

  svg.--white {
    path {
      fill: $color-white;
    }
  }
}
