.radial-blur-circle {
  width: 350px;
  height: 350px;
  background-image: radial-gradient(
    circle closest-side,
    transparentize($color-royal-blue, 0.6),
    transparent
  );

  @media only screen and (max-width: $breakpoint-desk) {
    background-image: radial-gradient(
      circle closest-side,
      transparentize($color-royal-blue, 0.6),
      transparent
    );
    width: 300px;
    height: 300px;
  }

  &--right {
    position: absolute;
    top: -20px;
    left: 150px;

    @media only screen and (max-width: $breakpoint-desk) {
      left: -40px;
    }
  }

  &--left {
    position: absolute;
    top: -20px;
    left: 0px;

    @media only screen and (max-width: $breakpoint-desk) {
      left: -40px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

input,
textarea {
  box-sizing: border-box;
}
