.radial-blur-circle {
  width: 350px;
  height: 350px;
  background-image: radial-gradient(
    circle closest-side,
    transparentize($color-royal-blue, 0.4),
    transparent
  );

  &--right {
    position: absolute;
    top: -20px;
    right: 0px;
  }

  &--left {
    position: absolute;
    top: -20px;
    left: 0px;
  }
}
