.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-row-r {
    flex-direction: row-reverse;
  }

  &-col-r {
    flex-direction: column-reverse;
  }
  &-row-r--sm {
    @media only screen and (max-width: $breakpoint-desk) {
      flex-direction: row-reverse;
    }
  }

  &-row--sm {
    @media only screen and (max-width: $breakpoint-desk) {
      flex-direction: row;
    }
  }

  &-col-r--sm {
    @media only screen and (max-width: $breakpoint-desk) {
      flex-direction: column-reverse;
    }
  }

  &-col--sm {
    @media only screen and (max-width: $breakpoint-desk) {
      flex-direction: column;
    }
  }

  &-jc {
    &--sb {
      justify-content: space-between;
    }

    &--c {
      justify-content: center;
    }

    &--sa {
      justify-content: space-around;
    }

    &--fs {
      justify-content: flex-start;
    }

    &--fe {
      justify-content: flex-end;
    }
  }

  &-ai {
    &--sb {
      align-items: space-between;
    }

    &--c {
      align-items: center;
    }

    &--sa {
      align-items: space-around;
    }

    &--fs {
      align-items: flex-start;
    }

    &--fe {
      align-items: flex-end;
    }
  }

  &-ai {
    &--sb {
      align-items: space-between;
    }

    &--c {
      align-items: center;
    }

    &--sa {
      align-items: space-around;
    }

    &--fs {
      align-items: flex-start;
    }

    &--fe {
      align-items: flex-end;
    }
  }

  &-as {
    &--fs {
      align-self: flex-start;
    }
  }

  @media only screen and (max-width: $breakpoint-desk) {
    &-jc {
      &--sb--sm {
        justify-content: space-between;
      }

      &--c--sm {
        justify-content: center;
      }

      &--sa--sm {
        justify-content: space-around;
      }

      &--fs--sm {
        justify-content: flex-start;
      }

      &--fe--sm {
        justify-content: flex-end;
      }
    }

    &-ai {
      &--sb--sm {
        align-items: space-between;
      }

      &--c--sm {
        align-items: center;
      }

      &--sa--sm {
        align-items: space-around;
      }

      &--fs--sm {
        align-items: flex-start;
      }

      &--fe--sm {
        align-items: flex-end;
      }
    }
  }
}
