.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }

  &-row-r {
    flex-direction: row-reverse;

    &--resp {
      @media only screen and (max-width: $breakpoint-desk) {
        flex-direction: row-reverse;
      }
    }
  }

  &-col-r {
    flex-direction: column-reverse;

    &--resp {
      @media only screen and (max-width: $breakpoint-desk) {
        flex-direction: column-reverse;
      }
    }
  }

  &-jc {
    &--sb {
      justify-content: space-between;
    }

    &--c {
      justify-content: center;
    }

    &--sa {
      justify-content: space-around;
    }

    &--fs {
      justify-content: flex-start;
    }

    &--fe {
      justify-content: flex-end;
    }

    @media only screen and (max-width: $breakpoint-desk) {
      &--fe--resp {
        justify-content: flex-end;
      }
      &--c--resp {
        justify-content: center;
      }
      &--sa--resp {
        justify-content: space-around;
      }
      &--fa--resp {
        justify-content: flex-start;
      }
    }
  }

  &-ai {
    &--sb {
      align-items: space-between;
    }

    &--c {
      align-items: center;
    }

    &--sa {
      align-items: space-around;
    }

    &--fs {
      align-items: flex-start;
    }

    &--fe {
      align-items: flex-end;
    }
  }

  &-as {
    &--fs {
      align-self: flex-start;
    }
  }
}
