.row {
}
.row--wide {
  padding: 0 $wide-row-padding;
  width: calc(100% - 2 * #{$wide-row-padding});
}

.row--narrow {
  padding: 0 $narrow-row-padding;
  width: calc(100% - 2 * #{$narrow-row-padding});
}
