@for $i from 0 through 50 {
  $spacerVal: $i * 5;
  $heightVal: $i * 25;

  .m#{$spacerVal} {
    margin: #{$spacerVal}px;
  }
  .mt#{$spacerVal} {
    margin-top: #{$spacerVal}px;
  }
  .mb#{$spacerVal} {
    margin-bottom: #{$spacerVal}px;
  }
  .ml#{$spacerVal} {
    margin-left: #{$spacerVal}px;
  }
  .mr#{$spacerVal} {
    margin-right: #{$spacerVal}px;
  }
  .mv#{$spacerVal} {
    margin-top: #{$spacerVal}px;
    margin-bottom: #{$spacerVal}px;
  }
  .mh#{$spacerVal} {
    margin-left: #{$spacerVal}px;
    margin-right: #{$spacerVal}px;
  }

  .p#{$spacerVal} {
    padding: #{$spacerVal}px;
  }
  .pt#{$spacerVal} {
    padding-top: #{$spacerVal}px;
  }
  .pb#{$spacerVal} {
    padding-bottom: #{$spacerVal}px;
  }
  .pl#{$spacerVal} {
    padding-left: #{$spacerVal}px;
  }
  .pr#{$spacerVal} {
    padding-right: #{$spacerVal}px;
  }
  .pv#{$spacerVal} {
    padding-top: #{$spacerVal}px;
    padding-bottom: #{$spacerVal}px;
  }
  .ph#{$spacerVal} {
    padding-left: #{$spacerVal}px;
    padding-right: #{$spacerVal}px;
  }

  .mt#{$spacerVal}--neg {
    margin-top: -#{$spacerVal}px;
  }
  .mb#{$spacerVal}--neg {
    margin-bottom: -#{$spacerVal}px;
  }
  .ml#{$spacerVal}--neg {
    margin-left: -#{$spacerVal}px;
  }
  .mr#{$spacerVal}--neg {
    margin-right: -#{$spacerVal}px;
  }

  .h#{$heightVal} {
    height: #{$heightVal}px;
  }

  .w#{$heightVal} {
    width: #{$heightVal}px;
  }
}

// To override, *all* resp classes need to follow in CSS
@for $i from 0 through 40 {
  $spacerVal: $i * 5;
  $heightVal: $i * 25;

  @media only screen and (max-width: $breakpoint-desk) {
    .m#{$spacerVal}--sm {
      margin: #{$spacerVal}px;
    }
    .mt#{$spacerVal}--sm {
      margin-top: #{$spacerVal}px;
    }
    .mb#{$spacerVal}--sm {
      margin-bottom: #{$spacerVal}px;
    }
    .ml#{$spacerVal}--sm {
      margin-left: #{$spacerVal}px;
    }
    .mr#{$spacerVal}--sm {
      margin-right: #{$spacerVal}px;
    }
    .mv#{$spacerVal}--sm {
      margin-top: #{$spacerVal}px;
      margin-bottom: #{$spacerVal}px;
    }
    .mh#{$spacerVal}--sm {
      margin-left: #{$spacerVal}px;
      margin-right: #{$spacerVal}px;
    }

    .p#{$spacerVal}--sm {
      padding: #{$spacerVal}px;
    }
    .pt#{$spacerVal}--sm {
      padding-top: #{$spacerVal}px;
    }
    .pb#{$spacerVal}--sm {
      padding-bottom: #{$spacerVal}px;
    }
    .pl#{$spacerVal}--sm {
      padding-left: #{$spacerVal}px;
    }
    .pr#{$spacerVal}--sm {
      padding-right: #{$spacerVal}px;
    }
    .pv#{$spacerVal}--sm {
      padding-top: #{$spacerVal}px;
      padding-bottom: #{$spacerVal}px;
    }
    .ph#{$spacerVal}--sm {
      padding-left: #{$spacerVal}px;
      padding-right: #{$spacerVal}px;
    }

    .mt#{$spacerVal}--neg--sm {
      margin-top: -#{$spacerVal}px;
    }
    .mb#{$spacerVal}--neg--sm {
      margin-bottom: -#{$spacerVal}px;
    }
    .ml#{$spacerVal}--neg--sm {
      margin-left: -#{$spacerVal}px;
    }
    .mr#{$spacerVal}--neg--sm {
      margin-right: -#{$spacerVal}px;
    }

    .h#{$heightVal}--sm {
      height: #{$heightVal}px;
    }

    .w#{$heightVal}--sm {
      width: #{$heightVal}px;
    }
  }

  @media only screen and (min-width: $breakpoint-desk) {
    .m#{$spacerVal}--lg {
      margin: #{$spacerVal}px;
    }
    .mt#{$spacerVal}--lg {
      margin-top: #{$spacerVal}px;
    }
    .mb#{$spacerVal}--lg {
      margin-bottom: #{$spacerVal}px;
    }
    .ml#{$spacerVal}--lg {
      margin-left: #{$spacerVal}px;
    }
    .mr#{$spacerVal}--lg {
      margin-right: #{$spacerVal}px;
    }
    .mv#{$spacerVal}--lg {
      margin-top: #{$spacerVal}px;
      margin-bottom: #{$spacerVal}px;
    }
    .mh#{$spacerVal}--lg {
      margin-left: #{$spacerVal}px;
      margin-right: #{$spacerVal}px;
    }

    .p#{$spacerVal}--lg {
      padding: #{$spacerVal}px;
    }
    .pt#{$spacerVal}--lg {
      padding-top: #{$spacerVal}px;
    }
    .pb#{$spacerVal}--lg {
      padding-bottom: #{$spacerVal}px;
    }
    .pl#{$spacerVal}--lg {
      padding-left: #{$spacerVal}px;
    }
    .pr#{$spacerVal}--lg {
      padding-right: #{$spacerVal}px;
    }
    .pv#{$spacerVal}--lg {
      padding-top: #{$spacerVal}px;
      padding-bottom: #{$spacerVal}px;
    }
    .ph#{$spacerVal}--lg {
      padding-left: #{$spacerVal}px;
      padding-right: #{$spacerVal}px;
    }

    .mt#{$spacerVal}--neg--lg {
      margin-top: -#{$spacerVal}px;
    }
    .mb#{$spacerVal}--neg--lg {
      margin-bottom: -#{$spacerVal}px;
    }
    .ml#{$spacerVal}--neg--lg {
      margin-left: -#{$spacerVal}px;
    }
    .mr#{$spacerVal}--neg--lg {
      margin-right: -#{$spacerVal}px;
    }

    .h#{$heightVal}--lg {
      height: #{$heightVal}px;
    }

    .w#{$heightVal}--lg {
      width: #{$heightVal}px;
    }
  }
}

.w100p {
  width: 100%;
}

.w100p--sm {
  @media only screen and (max-width: $breakpoint-desk) {
    width: 100%;
  }
}
