h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

p,
li,
button,
label,
input {
  @include p;
}

input,
textarea {
  padding: 5px;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-family: "Heebo";
}

.left {
  text-align: left;
}

.left--sm {
  @media only screen and (max-width: $breakpoint-desk) {
    text-align: left;
  }
}

.center {
  text-align: center;
}

.center--sm {
  @media only screen and (max-width: $breakpoint-desk) {
    text-align: center;
  }
}
