@mixin h1 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 51px;
  letter-spacing: -0.02em;

  @media only screen and (max-width: $breakpoint-desk) {
    font-size: 32px;
    line-height: 36px;
  }
}

@mixin h2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.03em;

  @media only screen and (max-width: $breakpoint-desk) {
    font-size: 28px;
    line-height: 34px;
  }
}

@mixin h3 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.03em;
}

@mixin h4 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;

  @media only screen and (max-width: $breakpoint-desk) {
    font-size: 19px;
    line-height: 113.2%;
  }
}

@mixin h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

@mixin h6 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

@mixin p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  @media only screen and (max-width: $breakpoint-desk) {
    font-size: 16px;
    line-height: 24px;
  }
}

$color-royal-blue: #3341c0;
$color-off-white: #eaf2fa;
$color-white: #fff;
$color-dark-purple: #1c2468;
$color-black: #000;
$color-light-gray: #ebeff3;

$width: 96%;
$gutter: 4%;
$breakpoint-small: 540px;
$breakpoint-med: 720px;
$breakpoint-desk: 960px;
$breakpoint-large: 1600px;

$wide-row-padding: 90px;
$med-row-padding: 122px;
$narrow-row-padding: 200px;

$header-height: 100px;
