$color-royal-blue: #3341c0;
$color-off-white: #eaf2fa;
$color-white: #fff;
$color-dark-purple: #1c2468;
$color-black: #000;
$color-light-gray: #ebeff3;
$color-off-black: #eaf2fa00;

$breakpoint-mobile: 375px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-medium: 1366px;
$breakpoint-desktop-large: 1600px;

$wide-row-padding: 90px;
$narrow-row-padding: 122px;

$header-height: 100px;
