@import "@styles/variables";

.home {
  &__horizontal-scroll {
    transition: transform 0.3s ease;

    > div {
      &:not(:first-child) {
        padding-left: 120px;
      }
    }

    &.hidden-lg > div {
      &:not(:first-child) {
        padding-left: 40px;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    &__horizontal-scroll {
      justify-content: space-between;
      min-width: none;
      padding-top: 80px;
    }

    .btn.carousel-nav {
      display: none;
    }

    > div {
      padding-left: 0;
    }
  }
}
