@import "@styles/variables";

.site-header {
  background-color: $color-royal-blue;
  height: $header-height;
  display: flex;
  align-items: center;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  h6:not(first-of-type) {
    margin-left: 40px;
  }

  h4 {
    margin-left: 15px;
  }

  a {
    color: $color-off-white;

    &.btn--off-white {
      color: $color-royal-blue;
    }
  }
}
