@import "@styles/variables";

.carousel-root {
  li.slide {
    background-color: transparent;

    > div > div {
      align-items: center;
      text-align: center;
    }
  }

  .control-dots {
    padding-left: 0;
    .dot {
      box-shadow: none;
      background-color: $color-royal-blue;

      &.selected {
        background-color: $color-dark-purple;
      }
    }
  }

  p {
    padding: 0 10px;
  }
}
