@import "@styles/variables";

.carousel-root {
  li.slide {
    background-color: transparent;
    justify-content: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  .slider-wrapper {
    height: 86vh;
  }

  .slider {
    height: 90%;
  }

  .control-dots {
    padding-left: 0;
    margin-top: 30px;

    .dot {
      height: 12px;
      width: 12px;
      box-shadow: none;
      background-color: $color-royal-blue;

      &.selected {
        background-color: $color-dark-purple;
      }
    }
  }
}
